<section id="edit-user-section" class="devise-user-section">
  <div class="container devise-user-container text-center">
    <span class="back-arrow"><%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, root_path %></span>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field row">
        <%= f.label :email, class: "col devise-user-labels" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col devise-user-inputs" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field row">
        <%= f.label :password, class: "col devise-user-labels" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col devise-user-inputs" %>
      </div>

      <div class="field row">
        <%= f.label :password_confirmation, class: "col devise-user-labels" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col devise-user-inputs" %>
      </div>

      <div class="field row">
        <%= f.label :current_password, class: "col devise-user-labels" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "col devise-user-inputs" %>
      </div>

      <div class="row devise-user-buttons">
        <p class="col"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'devise-action-buttons' %></p>
        <div class="actions col">
          <%= f.submit "Update", class: 'devise-action-buttons' %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <p class="col instructions"><i>Leave password input blank if you don't want to change it</i></p>
    </div>
  </div>
</section>
