<section id="forgot-password-section" class="devise-user-section">
  <div class="container devise-user-container text-center">
    <span class="back-arrow"><%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, root_path %></span>
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field row">
        <%= f.label :email, class: 'col devise-user-labels' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col devise-user-inputs' %>
      </div>

      <div class="actions devise-user-buttons row">
        <span class="col"></span>
        <%= f.submit "Request Password Reset", class: "col devise-action-buttons" %>
        <span class="col"></span>
      </div>
    <% end %>

    <div class="row devise-links">
      <span class="col">
      <a class="col" href="/users/sign_up">Sign up</a>
      <a class="col" href="/user/sign_in">Log in</a>
      <span class="col">
    </div>
  </div>
</section>
