<section id="login-section" class="devise-user-section">
  <div class="container devise-user-container text-center">
    <span class="back-arrow"><%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, root_path %></span>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field row">
        <%= f.label :email, class: 'col devise-user-labels' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise-user-inputs col' %>
      </div>

      <div class="field row">
        <%= f.label :password, class: 'col devise-user-labels' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'devise-user-inputs col' %>
      </div>

      <div class="row devise-user-buttons">
      <% if devise_mapping.rememberable? -%>
        <div class="field col">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions col">
        <%= f.submit "Log in" %>
      </div>
      </div>
    <% end %>

    <div class="row devise-links">
      <a class="col" href="/users/password/new">Forgot you password?</a>
      <a class="col" href="/users/sign_up">Don't have an account?</a>
    </div>
  </div>
</section>
